[Unit]
Description=Run monit.service every 2 minutes

[Timer]
OnBootSec=0min
OnUnitActiveSec=2min
Unit=monit.service

[Install]
WantedBy=timers.target
