[Unit]
Description=Linux Monitoring Tool

[Service]
ExecStart=/usr/bin/python /home/user1/monitoring_tp3_linux/monit.py check
User=user1

[Install]
WantedBy=multi-user.target